@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F7F7;
  width: 1440px;
  height: 922px;
  margin: 0;
  padding: 0;
}


#outermostBox {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  background: #FFF;
  width: calc(366px + 32px);
  height: calc(614px + 48px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 180px;
}

#gorillaPayBox {
  width: 366px;
  height: 54px;
  display: flex;
  justify-content: center;
}

#centreBox {
  row-gap: 32px;
  display: flex;
  width: calc(366px);
  height: calc(237px);
  flex-direction: column;
  align-items: center;
}

#texted {
  display: flex;
  justify-content: center;
  align-items: baseline;

}

#text {
  color: #646464;
  font-family: Chivo;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 0.25em;

}

#text2 {
  color: #646464;
  font-family: Chivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

#usdc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8F8F8F;
  font-family: Chivo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


#usdctext {
  font-size: 24px;
}

#for {
  color: #A0A0A0;
  font-family: Chivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#continue {
  color: #8F8F8F;
  font-family: Chivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  gap: 12px;
}

#box {
  width: calc(350px);
  height: 44px;
  border-radius: 5px;
  border: 1px solid #CBCBCB;
  outline: none;
  color: #535353;
  font-family: Chivo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  padding: 8px 12px;
}

#continueButton {
  display: flex;
  height: 45px;
  padding: 8px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  width: calc(326px + 24px);
  border-radius: 5px;
  
  top: 32px;
  position: relative;
  color: #FFF;
  font-family: Chivo;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}